@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --point-color: #c954f830;
    --point-color2: #3e1a4b60;
    --point-color3: #fafbff;
    --point-color4: #fafffa;
    --point-color5: #fffffa;
    --point-color6: #fefaff;
    --point-color7: #fffcfa;
    --shadow-color: #eae5ec;
    --background-color1: #f8f4fa;
    --background-color2: #fefaff;
    --font-size: 16px;
    --font-color: #726f69;
    --content-width: 950px;
    --transition: all 0.4s;
    --border-radius: 10px;
    --container-padding: 40px;
}

* {
    font-family: 'GangwonState';
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    list-style: none;
    box-sizing: border-box;
}

html {
    display: block;
}

body {
    padding-top: 50px;
    background: var(--background-color1);
    font-size: var(--font-size);
    line-height: 1.8;
    word-wrap: break-word;
    color: var(--font-color);
    background-size: cover;
    overflow-y: scroll;
}

::-webkit-scrollbar {
	width: 0;
}

.pointer {
    cursor: pointer;
    transition: var(--transition);
}

.pointer:hover {
    cursor: pointer;
	opacity: .8;
}

.br {
    margin: 40px 0;
}

.scale-down {
    object-fit: scale-down !important;
}